/*
 * Author: Yu-Jie Lin
 * Creation Date: 2010-08-31T16:49:38+0800
 *
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

#navigator-toolbox {
  /* remove the line below tabs bar */
  border-bottom: none !important;
}

#TabsToolbar {
  background: #242424 !important;
}

.tabbrowser-tab {
  background: #242424 !important;
  border: none !important;
  border-radius: 0 !important;
  color: #eee !important;
  font-family: "Crimson Text";
  font-size: 16px;
  padding-left: 4px !important;
  padding-right: 0 !important;
  min-height: 24px !important;
  height: 24px !important;
}

.tabbrowser-tab:hover {
  background: #404040 !important;
}

.tabbrowser-tab[pinned] {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.tabbrowser-tab[selected] {
  background: #666 !important;
}

.tab-close-button {
  -moz-appearance: none !important;
  border: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
  padding: 1ex !important;
}

.tab-close-button:hover {
  background: #888 !important;
}

/* Application button menu */

#appmenu-toolbar-button {
  display: none !important;
}

/* vim:et:ts=2:sts=2:sw=2:ai
 * */
